.card{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    background-color: #E93B3D;
    border-radius: 18px 0px 0px 18px;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;

}

.titulo{
    position: absolute;
    display: flex;
    top: 5vh
}
.icone{
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
}

.titulo h1{
    color: #fff;
    font-size: 1.3rem;
    margin-top: 1vw;
}

.info{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    width: 50vw;
    font-size: 1.3rem;
    top: 22vh;
}
.desc{
    position: absolute;
    top: 35vh;
    display: flex;
    color: #fff;
    font-size: 1.3rem;
}

.contimg{
    position: absolute;
    bottom: -1vh;
    
}
.moca{
    padding-bottom: 0.45vh;
    width: 20vw;
}

@media (max-width: 768px){
    .card{
        width: 100%;
        border-radius: 18px;
        margin-bottom: 2vw;
    }
    .icone{
        width: 4vw;
        height: 4vw;
        margin-top: 0.8vh;
    }
    .contimg{
        bottom: 50.1%;
        width: 30vw;
    }
    .moca{
        width: 100%;
    }
    
}

@media(max-width: 426px){
    .contimg{
        bottom: 49.7%;
    }
    .moca{
        padding-right: 4vw;
        width: 40vw;
    }
}